doctype html
html
  head
    title Teleporter - Ruby-on-Rails Consulting and Development in Sonoma County, California.
    link(href="/favicon.ico", rel="shortcut icon")
    != partial('_partials/_stylesheets')
    != partial('_partials/_javascripts')
    != partial('_partials/_feeds')
  body
    != yield
    != partial('_partials/_footer')
    
