section.splash-block
  != partial('_partials/_navigation')
  .container
    .row
      .col-md-9.col-lg-7
        h1 Teleporter builds software for the web.
        p.lead We're a team of passionate software developers that specialize in building awesome mobile and web applications.
        //- p
        //-   | We're here to help your new business develop an 
        //-   strong initial prototype
        //-   | , expand your team's capabilities and build out 
        //-   strong new features 
        //-   | and functionality in your product.
        p.actions
          a.btn.btn-primary.btn-lg(href="#talk") Let's talk
          |  
          a.btn.btn-default.btn-lg(href="#services") Learn more

section#portfolio.clients-block
  .container
    h1.block-header Our Work.
    .row
      .col-sm-4
        img.img-responsive(src="/images/logos/think-with-google.png")
        h3 Google
        p 
          | Working with the awesome 
          a(href="http://fire.coop/") Fire Inc.
          |  team, we helped develop a mobile backend system for Google's 
          a(href="http://www.google.com/think/") Think with Google 
          | event series.
      .col-sm-4
        img.img-responsive(src="/images/logos/comcast.png")
        h3 Comcast
        p 
          | We built out Comcast's 
          a(href="https://sendtotv.x1.comcast.net/") Send to TV 
          |  microsite website
      .col-sm-4
        img.img-responsive(src="/images/logos/rss.png")
        h3 Remote Sensing Systems
        p We were tasked with moving a 15 year-old website off a self-hosted server, updating the design and discoverability of content, all while maintaining access to critical data.
    //- .row
    //-   .col-sm-4
    //-     h3 Americano
    //-     img.img-responsive(src="http://placehold.it/300x150")
    //-     p Lorem ipsum Id aliqua voluptate ullamco id ullamco in amet pariatur consectetur dolore dolor dolore laborum incididunt anim.
    //-   .col-sm-4
    //-     h3 Project Paso
    //-     img.img-responsive(src="http://placehold.it/300x150")
    //-     p Lorem ipsum In magna incididunt cillum labore ut in magna ut magna Excepteur ullamco culpa laboris ut.
    //-   .col-sm-4
    //-     h3 You
    //-     img.img-responsive(src="http://placehold.it/300x150")
    //-     p Lorem ipsum Commodo in veniam voluptate irure exercitation quis qui et adipisicing nulla Excepteur eu ut ullamco culpa et.

    //- .row
    //-   .col-sm-4
    //-     h3 Americano
    //-     img.img-responsive(src="http://placehold.it/300x150")
    //-     p Lorem ipsum Id aliqua voluptate ullamco id ullamco in amet pariatur consectetur dolore dolor dolore laborum incididunt anim.
    //-   .col-sm-4
    //-     h3 Project Paso
    //-     img.img-responsive(src="http://placehold.it/300x150")
    //-     p Lorem ipsum In magna incididunt cillum labore ut in magna ut magna Excepteur ullamco culpa laboris ut.
    //-   .col-sm-4
    //-     h3 You
    //-     img.img-responsive(src="http://placehold.it/300x150")
    //-     p Lorem ipsum Commodo in veniam voluptate irure exercitation quis qui et adipisicing nulla Excepteur eu ut ullamco culpa et.

section#services.services-block
  .container
    h1.block-header How We Can Help.
    //- p We can help your business 
    .row
      .johnson-box.col-sm-4
        .service-icon
          i.icon-cogs
        h3 Create a Prototype
        p
          strong Bring your product idea to market with our team's help. 
          | We work step-by-step with you and your team to flush out core business logic, establish a game plan and execute.
      .johnson-box.col-sm-4
        .service-icon
          i.icon-group
        h3 Expand Your Team
        p
          strong Have a to-do list a mile long and not enough hands to help? 
          | We jump in where needed and expand your team's capacity without you needing to find and hire new talent.
      .johnson-box.col-sm-4
        .service-icon
          i.icon-road
        h3 Stay Competitive
        p 
          strong The world moves fast and it takes all the help you can get to adapt. 
          | We build systems, processes and solutions to build upon that way you're not left in the dark when the going gets tough.

section.about-block
  .container
    h1.block-header Why Teleporter?
    .row
      .johnson-box.col-md-4
        h3 Intelligent Technology
        p
          strong You need the right tool for the job. 
          | We have created solutions using several modern frameworks. We usually work in Ruby on Rails, but our clients are not served by dogmatic choices of software.
      .johnson-box.col-md-4
        h3 Always Available
        p
          strong You value open communication. 
          | We prefer regular meetings to update our clients on the progress of a project. This provides transparency and allows you to adjust the project's features to fit your needs. 
      .johnson-box.col-md-4
        h3 We Really Care
        p
          strong You want someone who cares. 
          | We actually enjoy working on interesting projects. We won't shy away from your project if it comes with technical challenges. Bring it on!
    //- h3 Our Partners
    //- p 
    //-   a(href="http://www.fire.coop") Fire Inc.

section#contact.contact-block
  .container
    h1.block-header Let's Chat.
    .row
      .col-md-4
        p.text-muted Call
        h2 (707) 331-1705
      .col-md-4
        p.text-muted Email
        h2
          a(href="mailto:hire@teleporter.io") hire@teleporter.io
      .col-md-4
        p.text-muted Elsewhere
        ul.list-inline.network-icons
          li
            h2
              a(href="http://github.com/teleporter")
                i.icon-github
          li
            h2
              a(href="http://facebook.com/teleporter.io")
                i.icon-facebook
          li
            h2
              a(href="http://twitter.com/teleporter_io")
                i.icon-twitter
          li
            h2
              a(href="http://linkedin.com/teleporter")
                i.icon-linkedin

//- section.tools-block
//-   h1.block-header Our Toolbox
//-   .container
//-     .row
//-       .col-sm-2
//-         img(src="/images/logos/rails.png", class="img-responsive")
//-       .col-sm-2
//-         img(src="/images/logos/nodejs.png", class="img-responsive")
//-       .col-sm-2
//-         img(src="/images/logos/github.png", class="img-responsive")
//-       .col-sm-2
//-         img(src="/images/logos/heroku.jpg", class="img-responsive")
//-       .col-sm-2
//-         img(src="/images/logos/aws.png", class="img-responsive")
//-       .col-sm-2
//-         img(src="/images/logos/jquery.png", class="img-responsive")
