section.splash-block
  .container
    h1 Teleporter builds software for the web.
    p.lead Teleporter is a team of lovable software developers in Sonoma County, California that specialize in building awesome web applications.
    p We're here to help your new business develop an initial prototype, expand your team's capabilities and build out new features and functionality in your product.
    p
      a.btn.btn-primary.btn-lg(href="#talk") Let's talk
      |  
      a.btn.btn-default.btn-lg(href="#") Learn more

section.services-block
  .container
    .row
      .col-sm-4
        h3
          i.icon-cogs
        h3 Create a Prototype
        p Bring your product idea to market with our team's help. We work step-by-step with you and your team to flush out core business logic, establish a game plan and execute.
      .col-sm-4
        h3
          i.icon-group
        h3 Expand Your Team
        p Have a to-do list a mile long and not enough hands to help? We jump in where needed and expand your team's capacity without you needing to find and hire new talent.
      .col-sm-4
        h3
          i.icon-road
        h3 Stay Competitive
        p The world moves fast and it takes all the help you can get to adapt. We build systems, processes and solutions to build upon that way you're not left in the dark when the going gets tough.
section.about-block
  .container
    h3 Why Teleporter?
    p We love codez.
    h3 Our Partners
    p Fire Inc.
    h3 Stalk Us
    ul
      li Github
      li Facebook
      li Twitter
      li LinkedIn
section.clients-block
  .container
    h3 Our Past Work
    .row
      .col-sm-4
        h3 Google
      .col-sm-4
        h3 Comcast
      .col-sm-4
        h3 Remote Sensing Systems
    .row
      .col-sm-4
        h3 Americano
      .col-sm-4
        h3 Project Paso
      .col-sm-4
        h3 You
section.tools-block
  .container
    .row
      .col-sm-2
        h5 Ruby on Rails
      .col-sm-2
        h5 Node.js
      .col-sm-2
        h5 Github
      .col-sm-2
        h5 Heroku
      .col-sm-2
        h5 AWS
      .col-sm-2
        h5 jQuery
