section#talk.contact-block
  .container
    h3 Let's talk.
    p (707) 331-1705
    p hire@teleporter.io
    p Santa Rosa, California
footer.metadata-block
  .container
    p &copy; 2013 Teleporter.io
