nav#page-nav.navbar.navbar-default.navbar-static-top(role="navigation")
  .container
    a.navbar-brand(href="/") Teleporter
    ul.nav.navbar-nav.pull-right
      li
        a(href="/services") Services
      li
        a(href="/portfolio") Work
      li
        a(href="/articles") Articles
      li
        a(href="/contact") Contact
