nav#page-nav.navbar.navbar-default.navbar-static-top(role="navigation")
  .container
    a.navbar-brand(href="/") Teleporter
    ul.nav.navbar-nav.pull-right
      li
        a(href="/services") What we do
      li
        a(href="/portfolio") Our work
      li
        a(href="/contact") Contact us
      li
        a(href="/articles") Articles
