.splash-block,
.services-block,
.about-block,
.clients-block,
.contact-block {
  padding-bottom: 5em;
  padding-top: 5em;
}

.block-header {
  text-align: center;
  margin-bottom: 1.5em;
}

// Splash message
//===================================================
.splash-block {
  background: #000 url('/images/bokeh.jpg') no-repeat bottom fixed;
  background-size: cover;
  color: #fff;
  padding-top: 0;

  #page-nav {
    background: none;
    margin-bottom: 2em;
  }

  h1 {
    color: #fff;
    font-size: 4em;
    line-height: 1;
    margin: 0 0 0.25em 0;
  }

  p {
    font-size: 1.15em;
    font-weight: 300;
    line-height: 1.7;

    &.lead {
      color: @gray-light;
      font-size: 1.6em;
      font-weight: 100;
    }

    &.actions {
      margin-top: 1.5em;
    }
  }



  .btn {
    font-size: 1.25em;

    &.btn-primary {
      background: #fff;
      border-color: #fff;
      color: #000;
      margin-right: 1em;
    }

    &.btn-default {
      border-color: @gray-light;
      color: @gray-light;
      &:hover {
        border-color: #fff;
        color: #fff;
      }
    }
  }

  

  strong {
    color: lighten(#c8d4dd, 15%);
  }
}


// Generic Johnson Boxes
//===================================================
.johnson-box {
  text-align: center;

  p {
    font-size: 1.15em;
    line-height: 1.6;
    padding: 0 0.5em;
    text-align: left;
  }

  h3 {
    font-size: 1.6em;
    margin-bottom: 1em;
  }
}


// Services
//===================================================
.services-block {
  background: #f0f5ff;

  .johnson-box {
    .service-icon {
      color: @gray-dark;
      font-size: 7em;
    }

    p {
      color: @gray;

      strong {
        color: @gray-dark;
      }
    }
  }
}


// About Us
//===================================================
.about-block {
  background: #31373a;
  color: #969ba2;

  .block-header {
    color: #fff;
  }

  .johnson-box {
    h3 {
      color: lighten(@teleporter-blue, 10%);
    }

    strong {
      color: lighten(#969ba2, 25%);
    }  
  }
}


// Social network icons
//===================================================
.network-icons {
  li {
    margin-right: 1em;
  }
  a {
    color: desaturate(@teleporter-blue, 80%);
  }
}
